.logger-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#inputs-container {
    width: 270px;
}

ion-button {
    margin: 35px 0 0 0;
    height: 3em;
}

.link-to-other {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 5px 0 0 0;
}